.idea/
.venv/
.env/

PHP/taches.json
PHP/messages_chat.json
PHP/tirages.json
PHP/survey/surveys/
PHP/habits.json

PYTHON/quotes.json
PYTHON/budget_data.json
PYTHON/articles_recent.json
PYTHON/films_recent.json
PYTHON/robots/

help.txt
no_duplicate.txt