.idea/
.venv/
.env/
.env
__pycache__/
.ipynb_checkpoints/
config/
logs/

PHP/taches.json
PHP/messages_chat.json
PHP/tirages.json
PHP/survey/surveys/
PHP/habits.json

PYTHON/quotes.json
PYTHON/budget_data.json
PYTHON/articles_recent.json
PYTHON/films_recent.json
PYTHON/robots/
PYTHON/faces/
PYTHON/picsum_images_square/

help.txt
no_duplicate.txt